html{
  height: 100%;
  margin: 0;
}

@font-face{
  font-family: Deathrattle;
  src: url('./assets/fonts/deathrattlebb_reg.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: Deathrattle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #383838;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./assets/background.jpg');
  background-attachment: fixed;
  color: #fc58fc;
}

h1{
  font-weight: bold;
  text-align: center;
  margin: 25px auto -20px;
  font-size: 6em;
  text-shadow: 3px 4px #000 ;
}

img{
  max-width: 100%;
}

.spinner{
  margin : 25vh auto;
}

.thumbnail>img{
  /* height: 250px; */
  object-fit: contain;
  width: 100%;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.07);
}

.thumbnail{
  margin: 15px auto;
  width: 100%;
  padding: 1px !important;
  /* display: flex; */
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.95); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  border-radius: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  /*max-width: 700px;*/
}

.modal-content, #caption { 
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}


.close {
  position: absolute;
  top: 35px;
  right: 20px;
  color: #fff !important;
  font-size: 2em;
  opacity: 1;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  opacity:0.3;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width: 768px){
  .thumbnail>img{
    height: 400px;
  }

  br{
    display: none
  }

  h1{
    font-size: 4em;
    margin-bottom: 10px;
  }

  .thumbnail{
    margin: 0 auto 30px;
  }
}